section {
    min-height: 30em;
    margin-top: 2em;
}

.actions-div > button{
    font-size: larger;
    margin: 1em;
}

.img {
    width: 100%;
    margin: auto;
}

.mat-display-1 {
    margin-left: 0.3em !important;
    margin-bottom: 0.3em !important
}